*{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

body {
    background-color: lightgray;
    display: grid;
    grid-template-rows: 7.5rem 1fr;
    grid-template-columns: 1fr repeat(2, 30%) 1fr;
    gap: 2rem;
}

body > a:nth-of-type(even) {
    grid-column: 3;
    justify-self: center;
}

body > a:nth-of-type(odd) {
    grid-column: 2;
    justify-self: center;
}

header {
    position: relative;
    grid-row: 1;
    grid-column: 1/-1;
}

header > p {
    font-size: 3rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    margin-top: 2rem;
    justify-self: center;
}

.center {
    grid-column: 2/4;
}

.borrow {
    grid-column: 2;
}

.sale {
    grid-column: 3;
}

.select {
    display: grid;
    grid-auto-flow: column;
    column-gap: 3rem;
    row-gap: 0.5rem;
    grid-template-rows: repeat(2, 1fr);
}

.enviar {
    margin-top: 1rem;
    padding-top: 1rem;
    height: 3rem;
    border-top: 1px solid black;
    position: relative;
}

.enviar > input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:hover {
    color: #009879;
}

td:first-of-type {
    border-right: 1px solid #dddddd;
}