*{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: lightgray;
}

fieldset {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    background-color: darkgray;
}

.return {
    color: black;
}

label {
    display: table-cell;
    text-align: right;
}

input {
    display: table-cell;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
    padding: 5px;
    background-color: lightskyblue;
    text-align: center;
}

td.name {
	background-color: lightblue;
    text-align: center;
    font-weight: bold;
}

td.subname {
	background-color: lightcyan;
    text-align: center;
    font-weight: bold;
}

.alert {
    background-color: red;
    font-weight: bold;
}

.correct {
    background-color: lightgreen;
}

p {
    text-align: center;
    font-weight: bold;
}

textarea::placeholder {
    opacity: 1;
    color: black;
}