html {
    height: 100%;
}

body {
    margin: 5px;
    height: 100%;
  }

.container {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid black;
}

.data_left {
    display: grid;
    grid-template-rows: 35% 25% 1fr;
    grid-column: 1;
    background-color: lightslategrey;
    height: 100%;
    border-right: 2px solid black;
  }

.container_image {
    position: relative;
    grid-row: 1;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: auto;
    height: 100%;
}

.container_resume {
    grid-row: 2;
    border-top: 2px solid black;
}

.resume_tittle {
    margin-top: 15px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.resume_text {
    padding: 5%;
}

.container_apt {
    grid-row: 3;
    border-top: 2px solid black;
}

.apt_tittle {
    margin: 20px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.apt {
    padding: 10px;
}

li::marker {
    content: "→";
}

.data_right {
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-column: 2;
    background: linear-gradient(to right, lightslategrey 0%, lightgrey 100%);
    height: 100%;
  }

.container_contact {
    grid-row: 1;
    border-bottom: 2px solid black;
}

.contact_name {
    margin: 5%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.contact_email {
    display: inline-block;
    margin-left: 5%;
    text-align: left;
}

.contact_phone {
    display: inline-block;
    margin-right: 5%;
    text-align: right;
}